body{
   background-color: #fff95e;
}

.header{
    background-image: url("images/Rosetti.jpg");
    display: table;
    width: 100%;
    margin: auto;
}
.login{
    display: inline-block;
    background: -webkit-linear-gradient(top, #fff95e, #ff1831);
    background: -o-linear-gradient(top, #fff95e, #ff1831);
    background: -moz-linear-gradient(top, #fff95e, #ff1831);
    background: linear-gradient(top, #fff95e, #ff1831);
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
}

.login:hover{
    cursor: pointer;
}

.logout{
    float: right;
    display: inline-block;
    background: -webkit-linear-gradient(top, #fff95e, #ff1831);
    background: -o-linear-gradient(top, #fff95e, #ff1831);
    background: -moz-linear-gradient(top, #fff95e, #ff1831);
    background: linear-gradient(top, #fff95e, #ff1831);
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
}

.logout:hover{
    cursor: pointer;
}

.Rosetti{
    text-align: center;
    display: inline-block;
    width: 60%;
}
.hrefBlock{
    display: table;
    width: 80%;
    margin: auto    ;
    background: -webkit-linear-gradient(left, #ff990c, #ff0009);
    background: -o-linear-gradient(right, #ff990c, #ff0009);
    background: -moz-linear-gradient(right, #ff990c, #ff0009);
    background: linear-gradient(right, #ff990c, #ff0009);

}
.hrefBlock div{
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin: 3px;
}

.hrefBlock div:hover{
    background-color: white;
    cursor: pointer;
}

.content{
    background-color: #8e8889;
    width: 80%;
    margin: auto;
}

#loginBlock{
    display: table;
    margin: 0 auto;
}

#loginLeft{
    display: inline-block;
}

#loginLeft div{
    display: block;
    width: 100px;
}

#loginRight{
    display: inline-block;
}

#loginRight input{
    display: block;
    width: 100px;
}

#login{
    float: right;
    display: block;
    width: 200px;
}

#workerLeft{
    display: inline-block;
}

#workerLeft div{
    display: block;
}

#workerRight{
    display: inline-block;
}

#workerRight div{
    display: block;
}