.header{
    display: table;
    width: 100%;
    margin: auto;
}

.headerBlock{
    text-align: center;
}

.logout:hover{
    cursor: pointer;
}

.Rosetti{
    display: block;
    background-image: url("images/rosetti.png");
    background-repeat: no-repeat;
    width: 400px;
    height: 180px;
    margin: auto;
}
.hrefBlock{
    display: table;
    margin: auto    ;
    background-color: #b3b3b3;

}
.hrefBlock div{
    display: inline-block;
    text-align: center;
    padding: 10px;
}
.selected{
    background-color: #e6e6e6;
}
.hrefBlock div:hover{
    background-color: #e6e6e6;
    cursor: pointer;
}

.content{
    width: 80%;
    min-height: 500px;
    margin: auto;
}

#loginBlock{
    background-color: #8e8889;
    border-radius: 10%;
    padding:10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loginLeft{
    display: inline-block;
}

#loginLeft div{
    display: block;
    width: 100px;
}

#loginRight{
    display: inline-block;
}

#loginRight input{
    display: block;
    width: 100px;
}

#workerLeft{
    display: inline-block;
}

#workerLeft div{
    display: block;
}

#workerRight{
    display: inline-block;
}

#workerRight div{
    display: block;
}